/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&cpuapp_rram {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "application";
			reg = <0x00000000 0x001dc000>;
		};

		storage_partition: partition@1dc000 {
			label = "storage";
			reg = <0x001dc000 0x00009000>;
		};
	};
};
