/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&cpuapp_rram {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00012000>;
		};

		slot0_partition: partition@12000 {
			label = "image-0";
			reg = <0x00012000 0x000a5000>;
		};

		slot1_partition: partition@b7000 {
			label = "image-1";
			reg = <0x000b7000 0x000a5000>;
		};

		storage_partition: partition@15c000 {
			label = "storage";
			reg = <0x0015c000 0x00009000>;
		};
	};
};
