# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_MANUFACTURER="hulimiao"
CONFIG_USB_DEVICE_PRODUCT="nekonya_tracker_uf2"

CONFIG_BATTERY_USE_REG_BUCK_MAPPING=y

CONFIG_LED_RGB_COLOR=y

CONFIG_DISABLE_SENSOR_GPIOS_ON_SHUTDOWN=y

#generate for adafruit uf2 bootloader flashing
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_BUILD_OUTPUT_UF2_FAMILY_ID="0x621e937a"
CONFIG_FLASH_LOAD_OFFSET=0x1000

